

<h2>GoodBye</h2>
<form method="post">
    <input type="text" name="name" />
    <select name="language">
        <option value="English">English</option>
        <option value="Spanish">Spanish</option>
        <option value="French">French</option>
        <option value="Russian">Russian</option>
    </select>
    <button type="submit">Submit</button>
</form>

